<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <%- include('../layouts/frontend/head') %>
    <body class="stretched">
        <div id="wrapper" class="clearfix">
            <%- include('../layouts/frontend/top-header') %>
            <header id="header" class="sticky-style-2">
                <%- include('../layouts/frontend/mid-header') %>
                <%- include('../layouts/frontend/menu') %>
            </header>

<div class="banner">
   <div class="overlay"></div>
  <div class="inner-banner container">
     
      <div class="inner-banner-title">
           <h4>Our Blogs</h4>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active"><a href="">Blog</a></li>
          </ol>
      </div>
     
  </div>
</div>

<section class="section">
 <div class="container blogs">
   <div class="row">
     <div class="col-md-4">
       <div class="entry clearfix">
         <div class="blog-inner">
<div class="entry-image">
<a href="frontend_images/books/9789937874021-thumbnail-175x255-70.jpg" data-lightbox="image"><img class="image_fade" src="frontend_images/blogs/books_20200217135317.jpg" alt="Standard Post with Image" style="height: 250px;"></a>
</div>
<div class="entry-title">
<h2><a href="blog-single.html">This is a Standard post with a Preview Image</a></h2>
</div>

<div class="entry-content">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur!</p>
<a href="blogdetails.html"><button class="btn btn-success">Read More</button></a>
</div>
</div>
</div>
     </div>

          <div class="col-md-4">
       <div class="entry clearfix">
            <div class="blog-inner">
<div class="entry-image">
<a href="frontend_images/books/_Sambandhaharu_By_Vijay_Kumar-thumbnail-175x255-70.jpg" data-lightbox="image"><img class="image_fade" src="frontend_images/blogs/download.jpg" alt="Standard Post with Image" style="height: 250px;"></a>
</div>
<div class="entry-title">
<h2><a href="blog-single.html">This is a Standard post with a Preview Image</a></h2>
</div>

<div class="entry-content">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur!</p>
<a href="blogdetails.html"><button class="btn btn-success">Read More</button></a>
</div>
</div>
</div>
     </div>

               <div class="col-md-4">
       <div class="entry clearfix">
            <div class="blog-inner">
<div class="entry-image">
<a href="frontend_images/books/Arthat_Arthatantra_-_Sujeev_Shakya_-thumbnail-175x255-70.jpg" data-lightbox="image"><img class="image_fade" src="frontend_images/blogs/meaning-metaphor.jpg" alt="Standard Post with Image" style="height: 250px;"></a>
</div>
<div class="entry-title">
<h2><a href="blog-single.html">This is a Standard post with a Preview Image</a></h2>
</div>

<div class="entry-content">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur!</p>
<a href="blogdetails.html"><button class="btn btn-success">Read More</button></a>
</div>
</div>
</div>
     </div>

         <div class="col-md-4">
       <div class="entry clearfix">
            <div class="blog-inner">
<div class="entry-image">
<a href="frontend_images/books/Sanduk_Ruit_by_Ali_Gripper_-_Khagendra_Sangraula_-_Nepali-thumbnail-175x255-70.jpg" data-lightbox="image"><img class="image_fade" src="frontend_images/blogs/Unravelling+Nepali+History.jpg" alt="Standard Post with Image" style="height: 250px;"></a>
</div>
<div class="entry-title">
<h2><a href="blog-single.html">This is a Standard post with a Preview Image</a></h2>
</div>

<div class="entry-content">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur!</p>
<a href="blogdetails.html"><button class="btn btn-success">Read More</button></a>
</div>
</div>
</div>
     </div>

          <div class="col-md-4">
       <div class="entry clearfix">
        <div class="blog-inner">
<div class="entry-image">
<a href="frontend_images/books/Ranahar-front-thumbnail-175x255-70.jpg" data-lightbox="image"><img class="image_fade" src="frontend_images/blogs/nepali-books-1.jpg" alt="Standard Post with Image" style="height: 250px;"></a>
</div>
<div class="entry-title">
<h2><a href="blog-single.html">This is a Standard post with a Preview Image</a></h2>
</div>

<div class="entry-content">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur!</p>
<a href="blogdetails.html"><button class="btn btn-success">Read More</button></a>
</div>
</div>
</div>
     </div>

               <div class="col-md-4">
       <div class="entry clearfix">
            <div class="blog-inner">
<div class="entry-image">
<a href="frontend_images/books/9789937905831-thumbnail-175x255-70.jpg" data-lightbox="image"><img class="image_fade" src="frontend_images/blogs/book.jpg" alt="Standard Post with Image" style="height: 250px;"></a>
</div>
<div class="entry-title">
<h2><a href="blog-single.html">This is a Standard post with a Preview Image</a></h2>
</div>

<div class="entry-content">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur!</p>
<a href="blogdetails.html"><button class="btn btn-success">Read More</button></a>
</div>
</div>
</div>
     </div>
   </div>
 </div> 
</section>

<%- include('../layouts/frontend/footer') %>
      <!-- End Footer -->
      <!-- Copyright -->
      <div class=" text-center footer-bottom" >
         <p class="mt-0 mb-0">&copy; Copyright 2020 <strong style="color: #d14031">Smart Innovation</strong>. All Rights Reserved</p>
     <!--     <small class="mt-0 mb-0">
         Made with <i class="mdi mdi-heart text-danger"></i> by <a target="_blank" href="https://giftechies.com/" class="text-warning">Giftechies</a>
         </small> -->
      </div>



</div>

<%- include('../layouts/frontend/script') %>
</body>

<!-- Mirrored from themes.semicolonweb.com/html/canvas/menu-7.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 11 Jan 2020 08:25:24 GMT -->
</html>