<!DOCTYPE html>
<html lang="en">
    
<!-- Mirrored from coderthemes.com/ubold/layouts/default/forms-validation.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Jul 2020 07:32:08 GMT -->
<head>
        <meta charset="utf-8" />
        <title>Setting | Smart Innovation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../../../frontend_images/logo.jpg"/>
        <meta content="Kitabharu Admin Panel" name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <%- include('../../layouts/cssfile') %>

    </head>

    <body class="loading">

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Topbar Start -->
            <%- include('../../layouts/navbar') %>
            <!-- end Topbar -->

            <!-- ========== Left Sidebar Start ========== -->
            <%- include('../../layouts/leftsidebar') %>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashbard</a></li>
                                            <li class="breadcrumb-item ">Manage Admin</li>
                                            <li class="breadcrumb-item ">Admin</li>
                                            <li class="breadcrumb-item active"><%= title%></li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title"><%= title%></h4>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 

                        <form role="form" action="/settings/update" method="POST" class="parsley-examples"> 
                            <input type="hidden" value="<%= data._id %>" name="id" >
                        <div class="row">
                            
                            <div class="col-lg-9">
                                
                                <div class="card-box">
                                    <h4 class="header-title m-t-0 m-b-20">Edit Setting</h4>
                                    <hr>
                                     <br>

                                    <!-- Charge -->
                                     <div class="form-group row" style="text-align: center;">
                                      
                                        <div class="col-10">
                                            <h3>Charges</h3>
                                            <hr style="    width: 10%;border: 2px solid #6b5ddeeb;margin-top: 15px;background: #6b5ddeeb;">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-2 col-form-label">Delivery Charge (Rs)<span class="text-danger">*</span></label>
                                        <div class="col-8">
                                            <input type="number" min="0" required parsley-type="text" class="form-control"
                                                id="inputEmail2" placeholder="Enter a delivery charge" value="<%= data.delivery_charge %>" name="delivery_charge" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-2 col-form-label">Service Charge (In %)<span class="text-danger">*</span></label>
                                        <div class="col-8">
                                            <input type="number"  min="0"  max="100" parsley-type="text" class="form-control"
                                                id="inputEmail2" placeholder="Enter a service charge" value="<%= data.service_charge %>" name="service_charge" >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-2 col-form-label">Tax (In %)<span class="text-danger">*</span></label>
                                        <div class="col-8">
                                            <input type="number"  min="0" max="100" parsley-type="text" class="form-control"
                                                id="inputEmail2" placeholder="Enter a tax charge" value="<%= data.tax_charge %>" name="tax_charge" >
                                        </div>
                                    </div>
                                    <br>

                                    <div class="form-group row" style="text-align: center;">
                                      
                                        <div class="col-10">
                                            <h3>Website Setting</h3>
                                            <hr style="    width: 10%;border: 2px solid #6b5ddeeb;margin-top: 15px;background: #6b5ddeeb;">
                                        </div>
                                    </div>

                                    <!-- Website Setting -->
                                     <div class="form-group row">
                                        <label for="inputEmail3" class="col-2 col-form-label">Location<span class="text-danger">*</span></label>
                                        <div class="col-8">
                                            <input type="text" required parsley-type="text" class="form-control"
                                                id="inputEmail2" placeholder="Enter an location" value="<%= data.location %>" name="location" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-2 col-form-label">Email<span class="text-danger">*</span></label>
                                        <div class="col-8">
                                            <input type="text" required parsley-type="text" class="form-control"
                                                id="inputEmail2" placeholder="Enter an email address" value="<%= data.email %>" name="email" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-2 col-form-label">Contact<span class="text-danger">*</span></label>
                                        <div class="col-8">
                                            <input type="text" required parsley-type="text" class="form-control"
                                                id="inputEmail2" placeholder="Enter an location" value="<%= data.contact %>" name="contact" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-2 col-form-label">Office Reg No:<span class="text-danger">*</span></label>
                                        <div class="col-8">
                                            <input type="text" parsley-type="text" class="form-control"
                                                id="inputEmail2" placeholder="Enter an location" value="<%= data.office_reg_no %>" name="regno">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-2 col-form-label">GoogleMap Link:<span class="text-danger">*</span></label>
                                        <div class="col-8">
                                            <textarea cols="5" rows="5" style="width: 100%;" class="form-control" name="googlemap_link" placeholder="Enter a google map link"><%= data.google_map_link %></textarea>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="form-group row" style="text-align: center;">
                                      
                                        <div class="col-10">
                                            <h3>Social Media Links</h3>
                                            <hr style="    width: 10%;border: 2px solid #6b5ddeeb;margin-top: 15px;background: #6b5ddeeb;">
                                        </div>
                                    </div>

                                

                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-2 col-form-label">Facebook Link:<span class="text-danger">*</span></label>
                                        <div class="col-8">
                                            <textarea cols="5" rows="5" style="width: 100%;" class="form-control" name="facebook_link" placeholder="Enter a facebook link"><%= data.facebook_link %></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-2 col-form-label">Youtube Link:<span class="text-danger">*</span></label>
                                        <div class="col-8">
                                            <textarea cols="5" rows="5" style="width: 100%;" class="form-control" name="youtube_link" placeholder="Enter a youtube link"><%= data.youtube_link %></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-2 col-form-label">Twitter Link:<span class="text-danger">*</span></label>
                                        <div class="col-8">
                                            <textarea cols="5" rows="5" style="width: 100%;" class="form-control" name="twitter_link" placeholder="Enter a twitter link"><%= data.twitter_link %></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-2 col-form-label">Instagram Link:<span class="text-danger">*</span></label>
                                        <div class="col-8">
                                            <textarea cols="5" rows="5" style="width: 100%;" class="form-control" name="instagram_link" placeholder="Enter a instagram link"><%= data.instagram_link %></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-2 col-form-label">LinkedIn Link:<span class="text-danger">*</span></label>
                                        <div class="col-8">
                                            <textarea cols="5" rows="5" style="width: 100%;" class="form-control" name="linkedin_link" placeholder="Enter a linkedIn link"><%= data.linkedIn_link %></textarea>
                                        </div>
                                    </div>
                                    
                                  

                                    <div class="form-group row">
                                        <div class="col-8 offset-4">
                                            
                                            <button type="submit" id="addAdminBtn" dir="ltr" data-style="slide-up" class="btn btn-blue waves-effect waves-light ladda-button">
                                                Submit
                                            </button>
                                            <button type="reset"
                                                    class="btn btn-secondary waves-effect m-l-5">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div> <!-- end card-box -->

                             
                                
                            </div> <!-- end col -->
                        
                            </form>
                        </div>
                        <!-- end row -->

                     
                        <!-- end row -->
                        
                    </div> <!-- container -->

                </div> <!-- content -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

        <!-- Right Sidebar -->
        <%- include('../../layouts/rightsidebar') %> 
        <!-- /Right-bar -->

        <%- include('../../layouts/script') %>     

        
    </body>

</html>