<!DOCTYPE html>
<html lang="en">
    
<!-- Mirrored from coderthemes.com/ubold/layouts/default/tables-datatables.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Jul 2020 07:32:15 GMT -->
<head>
        <meta charset="utf-8" />
        <title>Products | Smart Innovation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../../../frontend_images/logo.jpg"/>
        <meta content="Kitabharu Admin Panel" name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->

        <%- include('../../../layouts/cssfile') %>

    </head>

    <body class="loading">

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Topbar Start -->
            <%- include('../../../layouts/navbar') %>
            <!-- end Topbar -->

            <!-- ========== Left Sidebar Start ========== -->
            <%- include('../../../layouts/leftsidebar') %>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Manage Admins</a></li>
                                            <li class="breadcrumb-item active"><%= title %></li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Add Product Attributes</h4>
                                </div>
                            </div>
                        </div>    
         
                        <!-- end page title --> 
                        <!-- <div style="text-align: right;margin-bottom: 25px;">
                            <a href="/product/create"><button type="button" class="btn btn-success waves-effect waves-light" style="background-color: #07ddb2;border-color: #36d7b7;"><i class="fe-plus-circle" style="font-size: 15px;padding-right: 3px;"></i> Add Product</button></a>
                        </div> -->

                        <% if(messages.success){ %>
                            <div class="alert alert-success alert-dismissible fade show" role="alert"  id="alertmessage">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            <%= messages.success%>
                            </div>
                        <% } %>

                        <% if(messages.error){ %>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert"  id="alertmessage">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            <%= messages.error %>
                            </div>
                        <% } %> 



                        
                        <div class="row" id="add_product_attributes">
                            
                            <div class="col-lg-12">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0">Add Product Attributes</h4>
                                    <br>
                                    <form role="form" class="parsley-examples" action="/product/<%= productId %>/attributes/store" method="POST" enctype="multipart/form-data">
                                        <div id="attributes">

                                
                                            <!-- Book -->
                                            <% if(productDetails.category_id._id == '5fc86fabe5825658544dfa06'){ %>

                                        <div class="row" style="font-size: 13px;background: #f7f7f7;padding: 18px 0px 3px 20px;border-radius: 4px;margin-bottom: 20px;border: 1px solid #e7e7e7;">
                                     
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="form-label">Product Code<span class="text-danger">*</span></label>
                                                    <input type="text" name="product_code"  parsley-type="text" class="form-control"  placeholder="Please enter a product code" autocomplete="off" required>
                                                    <span class="help-block" style="font-weight: normal;font-size: 11.5px;margin-bottom: 0;">
                                                        Please enter a product code. </span>
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="form-label">Publication<span class="text-danger">*</span></label>
                                                    <select  name="publication_name" class="selectpicker show-tick" data-style="btn-light" style="border: 1px solid lightgrey;" onchange="changeCategory()" required="">
                                                        <option value="">Please select publication </option>
                                                        <% if(records3.length > 0){ %>
                                                            <% records3.forEach(function(data){ %>
                                                                <option value="<%= data.publication_name %>" category="<%= data.publication_name %>"><%= data.publication_name %></option>
                                                        <%  })
                                                        } %>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="form-label">Author Name<span class="text-danger">*</span></label>
                                                    <input type="text" name="author_name"  parsley-type="text" class="form-control"  placeholder="Please enter a author name" autocomplete="off">
                                                    <span class="help-block" style="font-weight: normal;font-size: 11.5px;margin-bottom: 0;">
                                                        Please enter a author name. </span>
                                                </div>
                                            </div>

                                    

                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="form-label">No. of Pages <span class="text-danger">*</span></label>
                                                    <input type="number" name="total_pages" min="1" parsley-type="text" class="form-control"  placeholder="Enter total number of pages" autocomplete="off">
                                                    <span class="help-block" style="font-weight: normal;font-size: 11px;margin-bottom: 0;">
                                                        Please enter a published year. </span>    
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="form-label">Published Year</label>
                                                    <input type="number" name="published_year" min="1"  parsley-type="text" class="form-control"  placeholder="Enter a published year" autocomplete="off" >
                                                    <span class="help-block" style="font-weight: normal;font-size: 11px;margin-bottom: 0;">
                                                        Please enter a published year. </span>    
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="form-label">Language</label>
                                                    <input type="text" name="language"  parsley-type="text" class="form-control"  placeholder="Enter a language name" autocomplete="off" >
                                                    <span class="help-block" style="font-weight: normal;font-size: 11px;margin-bottom: 0;">
                                                        Please enter a language. </span>    
                                                </div>
                                            </div>
                                          
                                            <div style="display:none !important;">
                                                <select name="status" class="selectpicker show-tick" data-style="btn-light" style="border: 1px solid lightgrey;">
                                                    <option value="Active">Active</option>
                                                    <option value="Inactive">Inactive</option>
                                                </select>
                                            </div>
                                        </div>
                                        <% } %>

                                        <!-- Stataionary -->
                                        <% if(productDetails.category_id._id == '5fc871bce5825658544dfa0c'){ %> 
                                            <input type="hidden" name="category_name" value="<%= productDetails.category_id.category_name %>">
                                            <div class="row" style="font-size: 13px;background: #f7f7f7;padding: 18px 0px 3px 20px;border-radius: 4px;margin-bottom: 20px;border: 1px solid #e7e7e7;">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="inputEmail3" class="form-label">Product Code<span class="text-danger">*</span></label>
                                                        <input type="text" name="product_code"  parsley-type="text" class="form-control"  placeholder="Please enter a product code" autocomplete="off" required>
                                                        <span class="help-block" style="font-weight: normal;font-size: 11.5px;margin-bottom: 0;">
                                                            Please enter a product code. </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="inputEmail3" class="form-label">Manufacturer Name</label>
                                                        <input type="text" name="manufacturer_name"  parsley-type="text" class="form-control"  placeholder="Please enter a manufacturer name" autocomplete="off" required>
                                                        <span class="help-block" style="font-weight: normal;font-size: 11.5px;margin-bottom: 0;">
                                                            Please enter a product code. </span>
                                                    </div>
                                                </div>
                                              
                                                <div style="display:none !important;">
                                                    <select name="status" class="selectpicker show-tick" data-style="btn-light" style="border: 1px solid lightgrey;">
                                                        <option value="Active">Active</option>
                                                        <option value="Inactive">Inactive</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <% } %>
                                     
                                     
                                   
                                    </div>
                                   

                                     
                                        <div class="form-group row">
                                            <div class="col-8 offset-5">
                                               <button type="submit" class="btn btn-blue waves-effect waves-light" ><i class="fe-plus-circle" style="font-size: 15px;padding-right: 8px;"></i>Add Attributes</button>
                                            
                                            </div>
                                        </div>
                                    </form>
                                </div> <!-- end card-box -->

                            </div> <!-- end col -->
                        </div>


<br>


                        <div class="row">
                  
                            <div class="col-12">
                                <h3 class="page-title" style="text-align: center;"><%= title %></h3>
                                <hr style="margin-top: 15px;width: 90px;border: 1.3px solid #8787de;background: #8787de;">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- <h4 class="header-title">Admins List</h4>
                                        <p class="text-muted font-13 mb-4">
                                            DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction
                                            function:
                                            <code>$().DataTable();</code>. -->
                                        </p>
                                
                                    <% if(productDetails.category_id._id == '5fc86fabe5825658544dfa06'){ %>
                                        <table id="basic-datatable" class="table dt-responsive nowrap w-100" style="font-size: 13.5px;">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Product Code</th>
                                                    <th>Author</th>
                                                    <th>Publication</th>
                                                    <th>Published Year</th>
                                                    <th>Language</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                        
                                        
                                            <tbody id="attributes_table">
                                        
                                                <% if(records.length > 0) {
                                                 
                                                    var i = 1;
                                                    %>
                                                
                                                    <% records.forEach(function(data){ %>
                                                        <tr class="tr">
                                                            <td><%= i %></td>
                                                            <td><%= data.product_code %></td>
                                                            <td><%= data.author_name %></td>
                                                     
                                                            <td><%= data.publication %></td>
                                                         
                                                            <td><%= data.published_year %></td>
                                                            <td><%= data.language %></td>
                                                    
                                                            <td>
                                                                <% if(data.status == 'Active'){ %>
                                                                <span style="padding: 5px 11px;background-color: #07ddb2;color: white;border-radius: 6px;font-size: 14px;"><%= data.status %></span>
                                                                <% } %>
                                                                <% if(data.status == 'Inactive'){ %>
                                                                    <span style="padding: 5px 11px;background-color: #f1556c;color: white;border-radius: 6px;font-size: 14px;"><%= data.status %></span>
                                                                    <% } %>
                                                                </td>
                                                            <td>
                                                                <a href="/product/<%= data.product_id %>/attributes/edit/<%= data._id%>"><button type="button" class="btn btn-info waves-effect waves-light" style="padding:0px;"> <i class="fe-edit" style="color: white;padding: 7px 10px;font-size: 17px;"></i></button></a>
                                                                &nbsp;
                                                                <a href="/product/<%= data.product_id %>/attributes/delete/<%= data._id%>">
                                                               <button type="button" class="btn btn-danger waves-effect waves-light" style="padding:0px;" onclick="if(confirm('Are you sure you want to delete?'))commentDelete(1);return false;"> <i class="fe-trash-2" style="color: white;padding: 7px 10px;font-size: 17px;"></i></button>
                                                           </a></td>
                                                        </tr>
                                                    <% i++; }) }%>
                                            </tbody>
                                        </table>
                                        <% } %>

                                        
                                    <% if(productDetails.category_id._id == '5fc871bce5825658544dfa0c'){ %>
                                        <table id="basic-datatable" class="table dt-responsive nowrap w-100" style="font-size: 13.5px;">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Product Code</th>
                                                    <th>Manufacturer</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                        
                                        
                                            <tbody id="attributes_table">
                                         
                                                <% if(records1.length > 0) {
                                                    var i = 1;
                                                    %>
                                                    <% records1.forEach(function(data){ %>
                                                        <tr class="tr">
                                                            <td><%= i %></td>
                                                            <td><%= data.product_code %></td>
                                                            <td><%= data.manufacturer_name %></td>
                                                     
                                                            
                                                    
                                                            <td>
                                                                <% if(data.status == 'Active'){ %>
                                                                <span style="padding: 5px 11px;background-color: #07ddb2;color: white;border-radius: 6px;font-size: 14px;"><%= data.status %></span>
                                                                <% } %>
                                                                <% if(data.status == 'Inactive'){ %>
                                                                    <span style="padding: 5px 11px;background-color: #f1556c;color: white;border-radius: 6px;font-size: 14px;"><%= data.status %></span>
                                                                    <% } %>
                                                                </td>
                                                            <td>
                                                                <a href="/product/<%= data.product_id %>/attributes/edit/<%= data._id%>"><button type="button" class="btn btn-info waves-effect waves-light" style="padding:0px;"> <i class="fe-edit" style="color: white;padding: 7px 10px;font-size: 17px;"></i></button></a>
                                                                &nbsp;
                                                                <a href="/product/<%= data.product_id %>/attributes/delete/<%= data._id%>">
                                                               <button type="button" class="btn btn-danger waves-effect waves-light" style="padding:0px;" onclick="confirm('Are you sure you want to delete?')"> <i class="fe-trash-2" style="color: white;padding: 7px 10px;font-size: 17px;"></i></button>
                                                           </a></td>
                                                        </tr>
                                                    <% i++; }) }%>
                                            </tbody>
                                        </table>
                                        <% } %>
                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div>
                        <!-- end row-->


                      


            


               
                        <!-- end row-->
                        
                    </div> <!-- container -->

                </div> <!-- content -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

        <!-- Right Sidebar -->
        <%- include('../../../layouts/rightsidebar') %>
        <!-- /Right-bar -->

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <%- include('../../../layouts/script') %>
        <script>
            $(document).ready(function(){
   $('#attributes').children().first().children().last().children().last().hide();

   //REmove Add Attributes if it has already one attributes
  var tableLength = $('#attributes_table .tr').length;
  if(tableLength > 0){
    $('#add_product_attributes').css('display','none');
  }else{
    $('#add_product_attributes').css('display','block');
  }
  console.log(tableLength);

});
        </script>

    </body>

<!-- Mirrored from coderthemes.com/ubold/layouts/default/tables-datatables.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Jul 2020 07:32:18 GMT -->
</html>